$dark: #212529;
$white: #f8f9fa;

body {
	background-color: $dark;
	color: $white;
	font-family: "Josefin Sans", sans-serif;
}

.jumbotron {
	background-color: $dark; 
}

.card {
	color: black;
	min-width: 250px;
	max-width: 400px;
	.icon {
		max-height: 1.5rem;
		margin-right: 10px; 
	}
}

#social-media {
  text-align: center; 
  img {
	  width: 50px;
	  margin: 20px 15px
  }
}

#profile {
  width: 100%; 
}

h2 {
  text-align: center;
  margin: 20px; 
}

a.navbar-brand {
  font-size: 2rem;
}

p a, a:hover, a:focus {
	color: $white;
	text-decoration: underline;
}
